.App {
  text-align: center;
}

.search {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  width:250px;
}

.container{
  color: blue;
}

.box{
  padding: 20px;
}

.toasts{
  padding:20px;
}

.images{
  height:100px;
  width:100px;
}

.position{
  align-content: center;
}
